<html>
<head>
 <link rel="stylesheet" href="style.css">
</head>
<body>

<h2>Sensor Data</h2>

<form action="/data" method="POST">
<button type="submit" formmethod="post">Collect data</button>
</form>

<p>

<table>
  <tr>
    <th>Time</th>
    <th>Temperature</th>
    <th>Humidity</th>
    <th>Pressure</th>
  </tr>
  	<% data.forEach((data) => { %>
	<tr>
	<td><%= data.date %></td>
	<td><%= data.temperature %></td>
	<td><%= data.humidity %></td>
	<td><%= data.pressure %></td>
	</tr>
	<% }); %>
</table>

<h2>LED display</h2>

<form action="/matrix/message" method="POST">
    <input type="text" name="message" placeholder="Write message">
    <button type="submit" formmethod="post">Send</button>
</form>

<form action="/matrix/cross" method="POST">
<button type="submit" formmethod="post">Cross</button>
</form>

<form action="/matrix/heart" method="POST">
<button type="submit" formmethod="post">Heart</button>
</form>

<form action="/matrix/smiley" method="POST">
<button type="submit" formmethod="post">Smiley</button>
</form>

<form action="/matrix/clear" method="POST">
<button type="submit" formmethod="post">Clear</button>
</form>

</body>
</html>
